@import '../../../../common/common1.0.3';


$mainblue:#bee2f3;
$maindarkblue:#34adbe;
$maindarkblue2:#5acbdb;
@mixin iconurl1(){background-image:url(../images/icons.png?v=0.0.2);background-size:145px 300px;}
@mixin btn($a,$b,$c){width:$a; height:$b;border-radius:5px;background-color: $mcl;display:block;
	border-bottom: $c solid $mcd;color:#fff;}

.box{margin: 0 auto;background-repeat:no-repeat;background-position: bottom center;
	 -moz-user-select: none; /*火狐*/
   -webkit-user-select: none;  /*webkit浏览器*/
   -ms-user-select: none;   /*IE10*/
   -khtml-user-select: none; /*早期浏览器*/
   user-select: none;box-sizing:border-box;}

.padding10{padding:10px;}
#qiaohu{ 
	width:100%; 
	margin: 0 auto;
	padding: 10px;
	box-sizing:border-box;
}

.header{
	width:100%; 

}

.header h1{
	text-align:left; 
	font-size: 20px;
}

.header .headerinfo{
	@include bb(100%,20px);
	padding:5px 0;
	line-height: 20px;
}

.header .headerinfo:after{
	content: ".";
	clear: both;/*清除浮动*/
	height: 0px;
	display: block;
	visibility: hidden;
}


.header .headerinfo .reading{
	float: right;
	font-size: 12px;
}

.header .headerinfo .orange{
	margin:0 10px 0 3px;;
	font-size: 14px;
	color:#3db5c6; 
}

.button{
	display:inline-block;
	border-radius:5px;
	line-height:35px;
	background-color:$maindarkblue2;
	color:#fff;
	padding:0 20px;
	border:1px solid $maindarkblue;
}

.listbox{
	background-color:#fff;
	position:relative;
	padding:10px;
}
/*内容框*/
.maincontext{
	box-sizing:border-box;
	@include bb(100%,auto);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	margin-bottom: 10px;
	img{@include bb(100%,auto);}
	.maincontent{
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border: 1px solid $mainblue;
		border-top:none;
		width:100%;
		padding:0px 10px 10px 10px;
		box-sizing:border-box;
		position:relative;
		background-color:#fff;
		.title{
			@include bb(100%,auto);
			line-height: 25px;
			font-size: 14px;
		}
		.adress{
			padding: 0px 0px 0px 20px;
			color: #37bacc;
			font-size: 14px;
			display: block;
			background-image: url(../../images/adress.png);
			background-size:16px 20px;
			background-repeat: no-repeat;
			background-position: 0px center;
			margin-bottom: 5px;
			line-height: 20px;
		}
		.time{
			line-height: 20px;
			padding: 0px 0px 0px 20px;
			font-size: 14px;
			background-size:18px 20px;
			display: block;
			background-image: url(../../images/time.png);
			background-repeat: no-repeat;
			background-position: 0px center;
		}
		.button{
			@include bb(50%,auto);
			text-align: center;
			margin: 0 auto;
		}
		.baomingstatus{
			@include bb(50px,50px);
			position:absolute;
			bottom:0px;
			right: 0px;
			overflow: hidden;
			border-bottom-right-radius:5px;
			.text{
				@include bb(50px,20px);
				text-align: center;
				line-height: 20px;
				-webkit-transform: translate3d(9px,21px,0px) rotate(-45deg);
				color: #fff;
				position:absolute;
				top: 0px;
				left: 0px;
				text-shadow: 0 0 4px rgba(0,0,0,0.3);
				font-weight:bold;
			}
			.sanjiao{
				@include bb(inherit,inherit);
			}
		}

	}

}




.rule{
	@include bb(100%,auto);
	box-sizing:border-box;
	padding: 0px 10px;
	margin-bottom: 10px;
}

.baomg{
	width:100%;
	height:14px;
	line-height:14px;
	color:#FFF;
	padding:10px 0;
	background:url(../../images/baombg_03.png) no-repeat;
	margin-top:10px;
	/*background-color:#F78C8E;*/
}

.baomg span{
	font-size: 14px;
	color:#FFF;
	margin-left: 30px;
	line-height:14px;
}

.usernum{
	margin-top:-20px;
	display:inline-block;
	float:right;
}

.usernum span{
	font-size:14px;
	color:#ff6363;
}

.user{
	width:100%;
	box-sizing:border-box;
	border: 1px solid $mainblue;
	border-radius: 5px;
	margin-top: 10px;
}

.user ul{
	list-style:none;
}

.user ul li{
	width:100%;
	height:30px;
	line-height:40px;
	padding: 0 10px;
	border-bottom:$mainblue 1px solid;
	box-sizing:border-box;
}

.user ul li img{
	float:left;
	margin: 2px 5px 0 0;
	width: 25px;
	height: 25px;
	border-radius:25px;
}

.user ul li .textcenter{
	float:left;
	height: inherit;
	line-height: 30px;
}

.user ul li .times{
	float: right;
	height: inherit;
	line-height: 30px;
}

.user ul li:last-child{
	border-bottom:none;
}

.user ul li:first-child{
	/*background-color: #000;*/
}


.footer{
	width:100%;
	padding:10px 0px 50px 0;

}

.footer:after{
	content: ".";
	clear: both;/*清除浮动*/
	height: 0px;
	display: block;
	visibility: hidden;
}

.footer .weixinshare{
	display: block;
	width: 44%;
	height: 40px;
	border-radius: 10px;/*圆角为10像素*/
	background-color: green;
	float: left;
	margin-left: 4%;
	color: #FFF;
	font-size: 14px;
	line-height: 40px;
	background-repeat: no-repeat;
	background-size: auto 30px;
	box-sizing:border-box;
	background-position:8px center;
	padding-left: 38px;
	text-align: center;
}

.footer .green{
	background-color: #5ddc73;
	background-image:url(../../images/weixin.png); 
}



.footer .blue{
	background-color: #69ccff;
	background-image:url(../../images/weixin2.png); 

}

.submit{
	width:100%;
	position:fixed;
	left:0px; 
	bottom:0px;
	height: 49px;
	background-color:$maindarkblue2; 
	text-align: center;


	img{
		float: left;
	}

	.return{
		@include bb(50px,49px);
		background:url(../../images/left.png) no-repeat;
		background-position:center;
		background-size: 25px 35px;
		float:left;
		border-right:1px solid $mainblue;
	}

	.more{
		line-height:50px;
		background:url(../../images/right.png) no-repeat;
		display:block;
		width:25px;
		height:50px;
		float:right;
		margin-top:10px;
	}

	.mainbtn,.weixinshare{
		display:inline-block;
		height:40px;
		border-radius: 10px;/*圆角*/
		background-color: #3db5c6;
		color: #FFF;
		font-size: 20px;
		line-height: 40px;
		box-sizing:border-box;
		text-align: center;
		padding:0 20px;
		border:1px solid #34adbe;
		margin-top: 5px;
		-webkit-transition: 0.3s ease-in;
	}
	.mainbtn{
		-webkit-transition: 0.3s ease-out;
	}
	.leftlink,.centerlink,.rightlink{
		@include bb(33%,inherit);
		padding-top:5px;
		box-sizing:border-box;
		.icon{
			@include bb(25px,25px);
			margin: 0 auto;
			svg{fill:#fff;}
		}
		.text{
			@include bb(100%,19px);
			line-height: 19px;
			font-size: 12px;
			color: #fff;
		}
	}
	.leftlink{float: left;}
	.centerlink{width:33%; margin:0 auto;}
	.rightlink{float: right;}
	.current{background-color:$maindarkblue;}
}
.sendinfobox{
	@include bb(100%,auto);
	position:fixed;
	bottom:49px;
	left:0px;
	background-color: $maindarkblue;
	box-sizing:border-box;
	padding:10px;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	-webkit-transform:translate(0,300px);
	-webkit-transition: 0.6s ease-out;
	.textbox{
		box-sizing:border-box;
		@include bb(100%,35px);
		margin-bottom: 10px;
		line-height: 35px;
		padding:0 10px;
		border-radius:5px;
		border:1px solid #ccc;
	}
	.textbox:focus{border:1px solid $maindarkblue;}
	.textbox:last-child{margin-bottom: 0px;}
}


.bottom50{@include bb(100%,50px);}
.bottom40{@include bb(100%,40px);}
.topbar{
	@include bb(100%,40px);
	background-color:$maindarkblue2;
	position:fixed;
	top:0px;
	left:0px;
	z-index: 2;
	box-sizing:border-box;
	padding:0 40px 0 50px;
	.category{
		@include bb(40px,40px);
		position:absolute;
		left: 0px; top:0px;
		padding:10px;
		box-sizing:border-box;
		svg{fill:#fff;}
	}
	.search{
		margin-top:5px;
		border:none;
		background-color:$maindarkblue;
		@include bb(100%,30px);
		box-sizing:border-box;
		padding:0 10px;
		// line-height: 30px;
		font-size: 14px;
		border-radius:5px;
		color: #fff;
	}
	.searchbtn{
		@include bb(40px,40px);
		position:absolute;
		right: 0px; top:0px;
		padding:10px;
		box-sizing:border-box;
		svg{fill:#fff;}
	}
	.searchbtn:active,.category:active{
		background-color:$maindarkblue;
	}
}

.laodmoer{
	@include bb(50%,30px);
	line-height:30px;
	text-align: center;
	margin: 0 auto;
}
#movebox{
	background-color:#fff;
	position:relative;
}
.categorybox{
	background-color:#303030;
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index: 0;
	overflow-x:hidden;
	.title{
		@include bb(45%,60px);
		line-height:60px;
		font-size: 20px;
		font-weight: bold;
		color:#eee;
		box-sizing:border-box;
		padding-left: 20px;
		border-bottom:1px solid #292929;
	}
	.categorylist{
		@include bb(45%,60px);
		font-size: 14px;
		.list{
			@include bb(100%,40px);
			line-height: 40px;
			border-bottom:1px solid #292929;
		}
		a{
			box-sizing:border-box;
			padding-left: 20px;
			@include bb(inherit,inherit);
			color: #fff;
			outline: none;
		}
		.current{background-color:#292929;}
		.list:active{background-color:#292929;}
	}
}
#screentouch{
	position:fixed;
	@include bb(100%,100%);
	display:none;
	// -webkit-transform:translate3d(45%,0,0);
	z-index: 3;
}


.mycenterbox{
	border:none;
	box-shadow:none;
	padding-top:10px;
	.maincontent{
		border:none;
	}
	.RQcode{
		@include bb(150px,150px);
		margin:0px auto;
		img{
			@include bb(100%,auto);
		}
	}
	h2{
		width:100%;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 10px;
	}
	.note{padding:10px;}
	.personalinfo{
		width: 100%;
		text-align: center;
		font-size: 16px;
		line-height: 25px;
		margin: 5px 0;
	}
}
// //list
// body{background-color:#fff;}
// .websiteiframebox{@include bb(100%,100%);position:absolute; top:0px; left:0px;}
// .websiteiframe{@include bb(100%,100%);position:absolute; top:0px; left:0px;overflow-y:auto;}
 
// #loadingscreen{@include bb(100%,100%);position:absolute;z-index: 99;background-color: #000;overflow:hidden;
// 	.loadtext{@include bb(100%,auto);position:absolute;text-align: center;top:40%;font-size: 14px;color:#fff;
// 		-webkit-animation: clickbox 2s ease-out 0s infinite;}
// 	.loadingbox{@include bb(300px,10px);display:inline-block;margin:0 auto;position:relative;display:none
// 		//border:1px solid #d771be;
// 	}
// 	//.loadingbar{@include bb(0px,10px);position:absolute;left:0px;top:0px;-webkit-transition:1s ease-in;background-color:#fff;z-index: -1;}
// 	.loadingnumbox{@include bb(300px,10px);font-size: 12px;line-height:10px;color:#d771be;}
// }

// .pcbox{width:164px;height:184px;line-height:20px; margin:10px auto; text-align:center;}

// #musicbutton{width: 50px;height: 50px;right: 2%;top: -5px;z-index: 10;position:fixed;background: url(../images/music_sp.png);
// 	background-repeat: no-repeat;background-size: 1024px 512px;background-position: 0px 0px;}
// #myaudio{display:none;position:absolute;top:0px;left:0px;}
// #imglist{position:absolute;width:100%;height:100%;overflow:hidden;max-width:360px;background-color:#fff;
// 	.blackpage{@include bb(100%,100%);position:absolute; top:0px; left:0px;background-color:#000;}
// 	.listli{position:absolute;width:100%;height:100%;background-color: #FFF;z-index: 1;overflow:hidden;
// 		.img{position:absolute;width:100%;height:100%;background-repeat: no-repeat;background-size:100%;background-position:center bottom;
// 			opacity:0;text-align: center;
// 			// background-image:url(../images/pic1.jpg?v=0.0.2);
// 		}
// 		.text{position:absolute;width:100%; bottom:100px; text-align: center;font-size:16px;opacity:0;z-index:9;line-height:20px;}
// 		h2{margin-bottom: 20px;font-size: 24px; padding:10px 0px;text-align: center;}
// 		.clickbox{-webkit-animation: clickbox 2s ease-out 0s infinite;background-color:rgba(255, 255, 255, 0.5);
// 			position:absolute;box-shadow: 0px 0px 25px rgba(255, 255, 255,1);border-radius: 15px;z-index: 999;}
// 		.nextbtn{width:100%; height:50px; position:absolute; bottom:0px; left:0px; 
// 			.smallicon{@include bb(inherit,inherit);position:absolute;top:0px;left:0px;background-image: url("../images/nextbtn.png");
// 			-webkit-animation: clickbox2 2s ease-out 0s infinite;background-size: 60px 35px;background-repeat: no-repeat;background-position: center;}
// 		}
// 		.click,.click2{width:100%;height:10px; position:absolute; bottom:20px; left:0px;text-align: center;padding-top:50px;color:#fff;
// 			.smallicon{@include bb(inherit,inherit);position:absolute;top:0px;left:0px; background-image: url("../images/knock.png");padding-top:50px;
// 			background-size: 60px 43px;background-repeat: no-repeat;background-position: center top;-webkit-animation: clickbox2 2s ease-out 0s infinite;
// 			text-align: center;color:#fff;}
// 		}
// 		.click2{color:#000;.smallicon{background-image: url("../images/knock2.png");color:#000;}}
// 		.startanimate11{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
// 		.picanimate11{-webkit-animation: picanimate11 4s ease-out 0s;}
// 		.overanimate11{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,-250px,0px);opacity: 1;}

// 		.startanimate12{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,50px,0px);opacity: 0;} 
// 		.picanimate12{-webkit-animation: picanimate12 3s ease-out 0s;}
// 		.overanimate12{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
		
// 		//大→小 渐出
// 		.startanimate1{-webkit-transform: scale(2) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
// 		.picanimate1{-webkit-animation: picanimate1 3s ease-out 0s;}
// 		.overanimate1{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 		//下→上 渐出
// 		.startanimate2{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,100px,0px);opacity: 0;}
// 		.picanimate2{-webkit-animation: picanimate2 2s ease-out 0s;}
// 		.overanimate2{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 		//下→上
// 		.startanimate3{-webkit-transform: scale(1.3) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 		.picanimate3{-webkit-animation: picanimate3 2s ease-out 0s;}
// 		.overanimate3{-webkit-transform: scale(1.3) rotate(0deg) translate3d(0px,-45px,0px);opacity: 1;}
// 		//右→左(常规)
// 		.startanimate4{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 		.picanimate4{-webkit-animation: picanimate4 5s ease-out 0s;}
// 		.overanimate4{-webkit-transform: scale(1) rotate(0deg) translate3d(-50%,0px,0px);opacity: 1;}
// 		//右→左(微距)
// 		.startanimate14{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;} 
// 		.picanimate14{-webkit-animation: picanimate14 2s ease-out 0s;}
// 		.overanimate14{-webkit-transform: scale(1) rotate(0deg) translate3d(-10%,0px,0px);opacity: 1;}

// 		//小→大 渐出
// 		.startanimate5{-webkit-transform: scale(0) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
// 		.picanimate5{-webkit-animation: picanimate5 2s ease-out 0s;}
// 		.overanimate5{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 		//左→右(微距)
// 		.startanimate6{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
// 		.picanimate6{-webkit-animation: picanimate6 4s ease-out 0s;}
// 		.overanimate6{-webkit-transform: scale(1) rotate(0deg) translate3d(10%,0px,0px);opacity: 1;}
// 		//大→小 旋转
// 		.startanimate7{-webkit-transform: scale(3.2) rotate(-90deg) translate3d(0px,0px,0px);opacity: 0;} 
// 		.picanimate7{-webkit-animation: picanimate7 4s ease-out 0s;}
// 		.overanimate7{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 		//左→右(常规)
// 		.startanimate8{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;} 
// 		.picanimate8{-webkit-animation: picanimate8 5s ease-out 0s;}
// 		.overanimate8{-webkit-transform: scale(1) rotate(0deg) translate3d(50%,0px,0px);opacity: 1;}

// 		//左→右 渐出
// 		.startanimate9{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
// 		.picanimate9{-webkit-animation: picanimate9 2s ease-out 0s;}
// 		.overanimate9{-webkit-transform: scale(1) rotate(0deg) translate3d(100%,0px,0px);opacity: 1;}

// 		//右→左 渐出
// 		.startanimate10{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
// 		.picanimate10{-webkit-animation: picanimate10 2s ease-out 0s;}
// 		.overanimate10{-webkit-transform: scale(1) rotate(0deg) translate3d(-100%,0px,0px);opacity: 1;}

// 		.startanimate13{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,50px,0px);opacity: 0;} 
// 		.picanimate13{-webkit-animation: picanimate13 3s ease-out 0s;}
// 		.overanimate13{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}

//         //快速出现
// 		.startanimate15{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
// 		.picanimate15{-webkit-animation: picanimate15 1s ease-out 0s;}
// 		.overanimate15{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
//         //快速消失
// 		.startanimate16{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;} 
// 		.picanimate16{-webkit-animation: picanimate16 1s ease-out 0s;}
// 		.overanimate16{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}

// 		.startanimate99{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,20px,0px);opacity: 0;} 
// 		.picanimate99{-webkit-animation: picanimate99 1s ease-out 0s;}
// 		.overanimate99{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	}

// 	.current{z-index:0;top:0px; left:0px;}
// }


// @-webkit-keyframes picanimate11{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,-250px,0px);opacity: 1;}
// }
// @-webkit-keyframes picanimate12{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,50px,0px);opacity: 0;}
// 	// 33%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	// 100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
// }

// @-webkit-keyframes picanimate12{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,50px,0px);opacity: 0;}
// 	33%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	66%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
// }

// @-webkit-keyframes picanimate1{
// 	0%{-webkit-transform: scale(2) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// }
// @-webkit-keyframes picanimate2{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,100px,0px);opacity: 0;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// }
// @-webkit-keyframes picanimate3{
// 	0%{-webkit-transform: scale(1.3) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	100%{-webkit-transform: scale(1.3) rotate(0deg) translate3d(0px,-45px,0px);opacity: 1;}
// }
// @-webkit-keyframes picanimate4{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(-50%,0px,0px);opacity: 1;}
// }
// @-webkit-keyframes picanimate14{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(-10%,0px,0px);opacity: 1;}
// }
// @-webkit-keyframes picanimate5{
// 	0%{-webkit-transform: scale(0) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// }
// @-webkit-keyframes picanimate6{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
// 	40%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(10%,0px,0px);opacity: 1;}
// }

// @-webkit-keyframes picanimate7{
// 	0%{-webkit-transform: scale(3.2) rotate(-90deg) translate3d(0px,0px,0px);opacity: 0;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// }

// @-webkit-keyframes picanimate8{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(50%,0px,0px);opacity: 1;}
// }

// @-webkit-keyframes picanimate9{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(100%,0px,0px);opacity: 1;}
// }

// @-webkit-keyframes picanimate10{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(-100%,0px,0px);opacity: 1;}
// }


// @-webkit-keyframes picanimate13{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,50px,0px);opacity: 0;}
// 	50%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	100%{-webkit-transform: scale(1.5) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
// }

// @-webkit-keyframes picanimate99{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,20px,0px);opacity: 0;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// }

// @-webkit-keyframes picanimate15{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// }

// @-webkit-keyframes picanimate16{
// 	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
// 	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
// }

// @-webkit-keyframes clickbox{
// 	0%{opacity: 0;}
// 	50%{opacity: 1;}
// 	100%{opacity: 0;}
// }


// @-webkit-keyframes clickbox2{
// 	0%{opacity: 0.1;}
// 	50%{opacity: 0.7;}
// 	100%{opacity: 0.1;}
// }

// @media all and (max-height:480px){
// 	.hidepic{display:none}
// }
 
@media all and (max-width:319px){
	.box{width:100%;box-sizing:border-box;}
}

@media all and (min-width:320px){
	.box{width:320px;}
}

@media all and (min-width:360px){
	.box{width:360px;}
}

@media all and (min-width:361px){
	.box{width:100%;}
}

